*{
    margin: 0%;
    padding: 0%;
}

.fon{
    text-align:center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:brightness(0.5);
}

header {
    height: 70px;
    background-color: #444444;
    color: #ffffff;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    margin-bottom: 5px;    
    margin-top: 5px;
}
footer {
    height: 100px;
    background-color: #444444;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    margin-top: 17%;
    margin-bottom: 7px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.header-logo img {
    height: 60px;
    text-align: center;
}

.header-icons {
    display: flex;
}

.header-icons a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.social-icons a:last-child {
    margin-right: 0;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 5%;
}
nav a {
    text-decoration: none;
    color: azure;
}

.text-on-background {
    margin-left: 10%;
    margin-bottom: 5%;
    z-index: 1;
}

.my-text {
    font-size: 3em;
    color: azure;

    
  }

.text-on-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.my-text {
    font-size: 3em;
    color: azure;
  }
.bat{
    background-color: rgba(0, 0, 0, 0.5);
    text-align:center;
    height: 50px;
    width: 150px;
}
.mybt {

    color: #ffffff;
  }
.fo{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.foo{
    margin-right: 20px;
}
.cen{
    text-align: center;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
    height: 20%;
}
.cen h3{
    color: #ffffff;
    margin-bottom: 2%;
    margin-top: 2%;
}

.photo-buttonna {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;   
  }